@model IEnumerable<BookStore.Models.Book>

@{
    ViewData["Title"] = "Listar Livros";
}
<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BookId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>                
                <th>
                    @Html.DisplayNameFor(model => model.Author)
                </th>                                
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>           
                <th>
                    @Html.DisplayNameFor(model => model.Category)
                </th>    
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>                
                @Html.DisplayFor(modelItem => item.Author)                
            </td>                                
            <th>
                @Html.DisplayFor(modelItem => item.Year)
            </th>           
            <th>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </th> 
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookId">Alterar</a> |
                <a asp-action="Delete" asp-route-id="@item.BookId">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
