@model IEnumerable<BookStore.Models.Category>

@{
    ViewData["Title"] = "Listar Categorias";
}
<h2>@ViewData["Title"]</h2>

<p>
    <a asp-action="Create">Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.CategoryId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>                
                <th>
                    @Html.DisplayNameFor(model => model.Color)
                </th>                
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <span class="demoColor" style="background-color: @Html.DisplayFor(modelItem => item.Color)" > </span>
                @Html.DisplayFor(modelItem => item.Color)                
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Alterar</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId">Remover</a>
            </td>
        </tr>
}
    </tbody>
</table>
